<h2 mat-dialog-title>Create Task</h2>
<mat-dialog-content class="mat-typography">

  <div class="task-form-container">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input id="name" type="text" formControlName="name" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
      <div>
        <label for="price">Price:</label>
        <input id="price" type="number" formControlName="price" required>
      </div>
      <div>
        <label for="status">Status:</label>
        <select id="status" formControlName="status" required>
          <option value="">Select a status</option>
          <option value="pending">Pending</option>
          <option value="in_progress">In Progress</option>
          <option value="completed">Completed</option>
        </select>
      </div>
      <div>
        <label for="assigneeEmail">Assignee Email:</label>
        <input id="assigneeEmail" type="email" formControlName="assigneeEmail" required>
      </div>
      <div>
        <label for="projectId">Project ID:</label>
        <input id="projectId" type="text" formControlName="projectId" required>
      </div>
      <button type="submit" [disabled]="!taskForm.valid">Create Task</button>
    </form>
  </div>

<!--  <div class="task-form">-->
<!--    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">-->
<!--      <div>-->
<!--        <label for="name">Name:</label>-->
<!--        <input id="name" type="text" formControlName="name">-->
<!--      </div>-->
<!--      <div>-->
<!--        <label for="description">Description:</label>-->
<!--        <textarea id="description" formControlName="description"></textarea>-->
<!--      </div>-->
<!--      <div>-->
<!--        <label for="price">Price:</label>-->
<!--        <input id="price" type="text" formControlName="price">-->
<!--      </div>-->
<!--      <div>-->
<!--        <label for="status">Status:</label>-->
<!--        <input id="status" type="text" formControlName="status">-->
<!--      </div>-->
<!--      <div>-->
<!--        <label for="assigneeEmail">Assignee Email:</label>-->
<!--        <input id="assigneeEmail" type="email" formControlName="assigneeEmail">-->
<!--      </div>-->
<!--      <div>-->
<!--        <label for="projectId">Project ID:</label>-->
<!--        <input id="projectId" type="text" formControlName="projectId">-->
<!--      </div>-->
<!--      <button type="submit" [disabled]="!taskForm.valid">Create Task</button>-->
<!--    </form>-->
<!--  </div>-->



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
</mat-dialog-actions>
