<ng-container>
  <mat-toolbar color="primary">
    <div class="my-container">
      <mat-toolbar-row>
        <span [style.cursor]="'pointer'" routerLink="your-work">Money Motivator</span>
        <span class="spacer"></span>
        <div class="mat-toolbar-buttons">
          <app-new-task-dialog/>
          <button mat-button *ngIf="user" routerLink="your-work" routerLinkActive="active">Your work</button>
          <button mat-button *ngIf="user" routerLink="projects" routerLinkActive="active">Projects</button>
          <button mat-button *ngIf="!user" routerLink="login" routerLinkActive="active">Sign In</button>
          <button mat-button *ngIf="!user" routerLink="registration" routerLinkActive="active">Sing Up</button>
        </div>
        <app-profile-menu [user]="user" [style.cursor]="'pointer'"/>
      </mat-toolbar-row>
    </div>
  </mat-toolbar>

  <div class="my-container">
    <router-outlet/>
  </div>

</ng-container>
